@using QuizApp.Models
@model ScoreboardInputModel

@{
    List<BusinessManager.Business.ScoreboardDTO> scoreboard = Session["scoreboardList"] as List<BusinessManager.Business.ScoreboardDTO>;
    ViewBag.Title = "Scoreboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<h2> Scoreboard</h2>
<form>
    <div class="row mb-3">
        <div class="col-3">
            @Html.DropDownList("SelectedCategory",
     new SelectList(Enum.GetValues(typeof(ScoreboardInputModel.SelectedCategory))),
     "Select Category",
     new { @class = "form-control" })
        </div>
        <div class="col-3">
            @Html.DropDownList("SelectedDifficulty",
     new SelectList(Enum.GetValues(typeof(ScoreboardInputModel.SelectedDifficulty))),
     "Select Difficulty",
     new { @class = "form-control" })
        </div>
        <div class="col-3">
            @Html.DropDownList("SelectedTimeSpan",
     new SelectList(Enum.GetValues(typeof(ScoreboardInputModel.SelectedTimeSpan))),
     "Select TimeSpan",
     new { @class = "form-control" })
        </div>
        <div class="col-3">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>

<table>
    @{      
        <tr>
            <th>User</th>
            <th>Score</th>
            <th>Date</th>
        </tr>
        foreach (BusinessManager.Business.ScoreboardDTO score in scoreboard)
        {
            <tr>
                <td>@score.FirstName</td>
                <td>@score.Score</td>
                <td>@score.Date</td>
            </tr>
        }
    }
</table>

